@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rochester&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 5px solid #FEA8A7;
  margin: 0px;
  padding: 10px;
  background: linear-gradient(90.57deg, #FED3B3 38.75%, #FED5B5 54.3%, #FEDCBB 63.19%, #FEE5C3 72.45%);
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 10px;
}

.header-text {
  font-size: 36px;
  padding-left: 15px;
}

.header-menu-item {
  font-size: 18px;
  padding: 20px;
  gap: 50px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 15px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.header {
  color: #FE9895;
}

.header-text {
  font-family: 'Rochester', cursive;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 255);
  /* text-shadow: 0px 4px 4px rgba(254, 168, 167, 0.25); */
}

.header-image {
  width: 100px;
}

.header-menu {
  font-family: 'Righteous', cursive;
}


.conteudo-principal-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
}

#circle {
  position: relative;
  width: 370px;
  height: 370px;
  border-radius: 50%;
  margin: 0px;
  /* position: absolute; */
  left: 0;
  /* top: -800; */
  right: 0;
  bottom: 0;
  border: 1px solid #E7E3FF;
  box-sizing: border-box;
  background-color: #E7E3FF;
  /* animation: hide2 8s ease infinite; */
}

@keyframes hide2 {
  0% {transform: scale(0.1)}
  50% {transform: scale(1)}
  100% {transform: scale(0.1)}
}

.conteudo-principal-botao {
  font-family: 'Righteous', cursive;
  font-size: 18px;
  margin: 10px;
  color:  #FEE5C3;
  width: 100px;
  height: 50px;
  border: none;
  /* background: #FEA8A7; */
  /* background: #FE9895;; */
  background: #FE9895;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;
}

.conteudo-principal-botao:hover {
  background-color: #FEE5C3;
  color: #FE9895;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FE9895;
  padding: 10px;
  gap: 50px;
}

.footer-imagem {
  width: 40px;
}