*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.darkgreen {
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #FE9895;
  animation: hide2 8s ease infinite;
}

@keyframes hide2 {
  0% {transform: scale(0)}
  50% {transform: scale(1)}
  100% {transform: scale(0)}
}